body {
  display: flex;
  flex-direction: column;
}


/* Header*/

.nav {
  flex-wrap: wrap;
  border-bottom: 5px solid rgb(246,152,9,0.5);

}

.logo {
  float: left;
}

.menu {
  float: right;
  padding-top: 30px;
}

.menu a {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 5px 30px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem;
  font-family: monospace;

}

.menu a:hover {
  text-decoration: underline;
  color: rgb(246,152,9);
  background: rgb(246,152,9);
  background: -webkit-linear-gradient(53deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  background: -o-linear-gradient(53deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  background: linear-gradient(143deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Header*/

/*Main*/

.mid {
  background: rgba(249,243,36,0.3);
  padding: 30px 10px;
  flex-wrap: wrap;
  border-bottom: 5px solid rgb(246,152,9,0.5);
  color: #232323;

}

.mid .mySkills {
  line-height: 1.6;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  font-family: monospace;
}

.mid .mySkills li {
  text-align: center;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  transition: .35s ease-in-out;
}

.mid .mySkills li:hover {
  background: rgb(246,152,9);
  background: -webkit-linear-gradient(53deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  background: -o-linear-gradient(53deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  background: linear-gradient(143deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  color: #000;
  -webkit-box-shadow: 5px 3px 3px 1px rgba(80,54,4,0.45);
  box-shadow: 5px 3px 3px 1px rgba(80,54,4,0.45);
  text-shadow: 2px 2px 3px rgba(30,30,30,0.5);
}

/*Main*/

/* Footer*/

.bottom {
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
  margin: 20px;

}


.platforms a {
  background: rgb(246,152,9);
  background: -webkit-linear-gradient(53deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  background: -o-linear-gradient(53deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  background: linear-gradient(143deg, rgba(246,152,9,1) 23%, rgba(249,243,36,1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 40px;
  font-size: 2rem;
  font-weight: bold;

}

.bottom .footer {
  font-size: 12px;
  font-family: sans-serif;
  color: #232323;
  padding-left: 15px;
  margin-left: 15px;
  word-spacing: 2px;
}

/* Footer*/
